		<div class='comicBook <%= direction %>' id='pgp'>
			<div style='text-align:center;'>
				<h2 id='toolName' class='kicker'><%= toolData.toolname %></h2>
			</div>

			<div class='panel col3 title block'>
				<h1 id='headline'><%= toolData.headline %></h1>
				<h2 id='tagline'><%= toolData.tagline %></h2>
			</div>
			<div class='panel col3 block comicIntro'>
				<div class='subpanel third' style='margin-right:0; padding-right:0;'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/intro<%= directionComics %>.png' class='imagePanel' style='margin-left:0; padding-left:0;'/>
				</div>
				<div class='subpanel twothirds'>
					<p id='introduction' class='textPad all balloon' style='padding: 15px; text-align:center;'><%= toolData.introduction %></p>
				</div>
			</div>
			<div class='clearMe'></div>

			<div class='panel col1 hideMobile'>
				<p id='panel1' class='textPad blackBox' style='text-align:center; background-color:#7db22b;' ><%= toolData.panel1 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_1<%= directionComics %>.png' class='imagePanel'/>
			</div>

			<div class='panel col4'>
				<p id='panel2' class='textPad' style='background-color: #928ac4; color:#000;' ><%= toolData.panel2 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_2<%= directionComics %>.png' class='imagePanel'/>
				<div class="insetBox showMobile" style="top: 50%; left: -10%; border:none; background:none;">
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_1_mobile<%= directionComics %>.png' class='imagePanel removeBorder'/>
				</div>
				<div class="insetBox showMobile" style="top: 50%; right: -10%; border:none; background:none;">
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_3_mobile<%= directionComics %>.png' class='imagePanel removeBorder'/>
				</div>
			</div>

			<div class='panel col1 hideMobile'>
				<p id='panel3' class='textPad blackBox'  style='text-align:center; background-color:#f7941e;' ><%= toolData.panel3 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_3<%= directionComics %>.png' class='imagePanel'/>
			</div>

			<div class='panel col3 block'>
				<p id='panel4' class='textPad blackBox'><%= toolData.panel4 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_4<%= directionComics %>.png' class='imagePanel'/>
			</div>

			<div class='panel block col3' style='background:url(http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_5_background<%= directionComics %>.png); background-size:cover;'>
				<p id='panel5' class='textPad'><%= toolData.panel5 %></p>
				<div class='subpanel third'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_5_public<%= directionComics %>.png' class='imagePanel'/>
					<h3 id='panel5_inset1_title'><%= toolData.panel5inset1title %></h3>
					<p id='panel5_inset1' class='textPad description'><%= toolData.panel5inset1 %></p>
				</div>
				<div class='subpanel third'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_5_session<%= directionComics %>.png' class='imagePanel'/>
					<h3 id='panel5_inset3_title'><%= toolData.panel5inset3title %></h3>
					<p id='panel5_inset3' class='textPad description'><%= toolData.panel5inset3 %></p>
				</div>
				<div class='subpanel third'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_5_private<%= directionComics %>.png' class='imagePanel'/>
					<h3 id='panel5_inset2_title'><%= toolData.panel5inset2title %></h3>
					<p id='panel5_inset2' class='textPad description'><%= toolData.panel5inset2 %></p>
				</div>
			</div>

			<div class='panel clearMobile col0'></div>

			<div class='panel col2'>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_6<%= directionComics %>.png' class='imagePanel' style='position:relative'/>
				<p id='panel6' class='textPad blackBox'><%= toolData.panel6 %></p>
			</div>

			<div class='panel col2'>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_7<%= directionComics %>.png' class='imagePanel noFlip' style='position:relative'/>
				<p id='panel7' class='textPad blackBox'><%= toolData.panel7 %></p>
			</div>

			<div class='panel col2'>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_PGP_8<%= directionComics %>.png' class='imagePanel'/>
				<p id='panel8' class='' style='padding-top: 10px;'><%= toolData.panel8 %></p>
			</div>
		</div>
