		<div class='comicBook <%= direction %>' id='freegate'>
			<div style='text-align:center;'>
				<h2 id='toolName' class='kicker'><%= toolData.toolname %></h2>
			</div>
			<div class='panel col3 title block'>
				<h1 id='headline'><%= toolData.headline %></h1>
				<h2 id='tagline'><%= toolData.tagline %></h2>
			</div>
			<div class='panel col3 block comicIntro'>
				<div class='subpanel third' style='margin-right:0; padding-right:0;'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/intro_3<%= directionComics %>.png' class='imagePanel' style='margin-right:0; padding-right:0;'/>
				</div>
				<div class='subpanel twothirds'>
					<p id='introduction' class='textPad all balloon' style='padding: 15px; text-align:center; background-color:#FFF;'><%= toolData.introduction %></p>
				</div>
			</div>
			<div class='clearMe'></div>

			<div class='panel col3 block'>
				<p id='panel1' class='textPad blackBox' style='' ><%= toolData.panel1 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_2<%= directionComics %>.png' class='imagePanel'/>
				<div class="insetBox" style="bottom: 6%; width: 60%; right: 8%; border:none; background:none;">
					<p id='panel1_inset' style='text-align:center; color:#c2b59b; font-size:1.3em;'><%= toolData.panel1inset %></p>
				</div>
			</div>
			<div class='panel col3 block'>
				<p id='panel2' class='textPad blackBox' style='padding-bottom:15px;' ><%= toolData.panel2 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_3<%= directionComics %>.png' class='imagePanel'/>
			</div>
			
			<div class='panel col3 block'>
				<p id='panel3' class='textPad top' style='' ><%= toolData.panel3 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_4<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col3 block'>
				<p id='panel4' class='textPad top' style='' ><%= toolData.panel4 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_5<%= directionComics %>.png' class='imagePanel'/>
			</div>

			<div class='panel col3 block'>
				<p id='panel5' class='textPad top' style='' ><%= toolData.panel5 %></p>
				<div style='padding:0; position: relative; margin:0;'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_6<%= directionComics %>.png' class='imagePanel'/>
					<div class="insetBox" style="top: 7%; left: 5%; width: 70%; border:none; padding:0;background-color:transparent">
						<p id='panel5_inset' class="computer" style='color:#000; padding:0;'><%= toolData.panel5inset %></p>
					</div>
				</div>
			</div>

			<div class='panel col3 block'>
				<p id='panel6' class='textPad top' style='' ><%= toolData.panel6 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_freegate_7<%= directionComics %>.png' class='imagePanel'/>
			</div>
		</div>
