		<div class='comicBook <%= direction %>' id='dns'>
			<div style='text-align:center;'>
				<h2 id='toolName' class='kicker'><%= toolData.toolname %></h2>
			</div>

			<div class='panel col3 title block'>
				<h1 id='headline'><%= toolData.headline %></h1>
				<h2 id='tagline'><%= toolData.tagline %></h2>
			</div>
			<div class='panel col3 block comicIntro'>
				<div class='subpanel third' style='margin-right:0; padding-right:0;'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/intro_2<% directionComics %>.png' class='imagePanel' style='margin-right:0; padding-right:0;'/>
				</div>
				<div class='subpanel twothirds'>
					<p id='introduction' class='textPad all balloon' style='padding: 15px; text-align:center; background-color:#FFF;'><%= toolData.introduction %></p>
				</div>
			</div>
			<div class='clearMe'></div>
			<div class='panel col2'>
				<p id='panel1' class='textPad blackBox' style='' ><%= toolData.panel1 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-02<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col2'>
				<p id='panel2' class='textPad' style='background-color: #928ac4; color:#FFF;' ><%= toolData.panel2 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-03<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col2'>
				<p id='panel3' class='textPad' style='background-color:#00a79d; color:#FFF;'><%= toolData.panel3 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-04<%= directionComics %>.png' class='imagePanel'/></div>
			<div class='panel col2'>
				<p id='panel4' class='textPad blackBox' style='' ><%= toolData.panel4 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-05<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col3'>
				<p id='panel5' class='textPad ' style='background-color: #f15a29; color:#FFF;' ><%= toolData.panel5 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-06<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col1 tiltRight'>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-07<%= directionComics %>.png' class='imagePanel noFlip'/>
			</div>
			<div class='panel col2'>
				<p id='panel7' class='textPad blackBox' style='background-color: #000; color:#FFF;' ><%= toolData.panel7 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-08<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col2'>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-09<%= directionComics %>.png' class='imagePanel'/>
				<p id='panel8' class='textPad' style='background-color: #928ac4; color:#FFF;' ><%= toolData.panel8 %></p>
			</div>
			<div class='panel col2	'>
				<p id='panel9' class='textPad top'><%= toolData.panel9 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_dns-10<%= directionComics %>.png' class='imagePanel noFlip'/>
			</div>
		</div>
