		<div class='comicBook <%= direction %>' id='ultrasurf'>
			<div style='text-align:center;'>
				<h2 id='toolName' class='kicker'><%= toolData.toolName %></h2>
			</div>
			<div class='panel col3 title block'>
				<h1 id='headline'><%= toolData.headline %></h1>
				<h2 id='tagline'><%= toolData.tagline %></h2>
			</div>
			<div class='panel col3 block comicIntro'>
				<div class='subpanel third' style='margin-right:0; padding-right:0;vertical-align:middle;'>
					<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/intro_2<%= directionComics %>.png' class='imagePanel' style='margin-right:0; padding-right:0;'/>
				</div>
				<div class='subpanel twothirds'>
					<p id='introduction' class='textPad all balloon' style='padding: 15px; text-align:center; background-color:#FFF;'><%= toolData.introduction %></p>
				</div>
			</div>
			<div class='clearMe'></div>

			<div class='panel col2'>
				<p id='panel1' class='textPad' style='background-color: #000; color:#FFF;' ><%= toolData.panel1 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_ultrasurf_1<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col2'>
				<p id='panel2' class='textPad top' style='' ><%= toolData.panel2 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_ultrasurf_2<%= directionComics %>.png' class='imagePanel'/>
			</div>
			<div class='panel col2'>
				<p id='panel3' class='textPad' style='background-color:#ada7d3; color:#000;' ><%= toolData.panel3 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_ultrasurf_3<%= directionComics %>.png' class='imagePanel'/>
				<p id='panel3_inset' class="textPad blackBox" style=''><%= toolData.panel3inset %></p>
			</div>
			<div class='panel' style='background:url(http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_ultrasurf_box_4<%= directionComics %>.png)right; height: 575px; width:97%;'>
				<div class="insetBox" style="top: 13%; left: 10%; border:none; width: 60%; padding:0;">
					<p id='panel4' class="textPad" style='background-color:#FFF; color:#000; border:none;'><%= toolData.panel4 %></p>
				</div>
				<div class="insetBox" style="bottom: 4%; right: 5%; border:none;width: 72%; padding:0">
					<p id='panel4_inset' class="textPad" style='background-color:#000; color:#FFF; border:none !important;'><%= toolData.panel4inset %></p>
				</div>
			</div>



			<div class='panel col2'>
				<p id='panel5' class='textPad top' style='' ><%= toolData.panel5 %></p>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_ultrasurf_5<%= directionComics %>.png' class='imagePanel noFlip'/>
			</div>
			<div class='panel col4'>
				<div class="insetBox" style="top: 0%; left: 0%; border:none; width: 74.3%; background-color:#FFF; color: #000;">
					<p id='panel6_inset' class="" style=''><%= toolData.panel6inset %></p>
				</div>
				<img src='http://www.voanews.com/MediaAssets2/projects/circumvention/img/comic_ultrasurf_6<%= directionComics %>.png' class='imagePanel'/>
				<p id='panel6' class="textPad blackBox" style=''><%= toolData.panel6 %></p>
			</div>
		</div>
